* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ------- Index Page ------- */

.logo_responsive {
  display: none;
}

.hero {
  min-height: 30rem;
  background-image: url("/src/assets/photos/heros/hero_home.jpg");
  background-size: cover;
  background-position: center;
}

.categories_title {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.04);
  font-size: 0.8rem;
}

.categories_title:hover {
  opacity: 0.9;
  color: #dcb14a;
  background-color: #ffff;
}
